/*font-family*/
@import "./fonts.css";

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables  */
:root {
  --bg-color: #1a1a1a;
  --bg-color-secondary: #1c1c1c;
  --primary-color: #caff33;
  --text-color-gray: #e4e4e7;
  --text-white: #fff;
  --text-gray: #b3b3b3;
  --text-button-color: #1c1c1c;
  --bg-color-active: #262626;
  --border-color: #262626;
  --bg-color-input: #282828;
  --container-width: 1350px;
}

/* Global Styles */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: #fff;
  font-family: Lexend, sans-serif;
  font-weight: 400;
}

hr {
  border: 0;
  height: 1px;
  background: var(--border-color);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 1rem;
}

.header-builder {
  height: 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: var(--bg-color-secondary);
  border: 1px solid var(--border-color);
  border-radius: 100px;
}

.header-builder .links {
  display: flex;
  gap: 26px;
  justify-content: center;
  align-items: center;
}

.header-builder .links .active {
  background-color: var(--bg-color-active);
  padding: 10px 18px;
}

.btn-builder-active {
  background-color: var(--primary-color);
  color: var(--text-button-color);
  border-radius: 100px;
}

.btn-builder-active:hover {
  background-color: var(--primary-color);
}

.menu-link-active {
  background-color: var(--bg-color-active);
  padding: 10px 18px;
  border-radius: 82px;
}

.menu-links a {
  padding: 10px 18px;
}

.menu-links a:hover {
  color: var(--primary-color);
}

.bg-color-main {
  background-color: var(--bg-color);
}

.active-link-color {
  color: var(--primary-color);
}

.menu-bar {
  background-color: var(--primary-color);
  width: 100%;
  height: 2px;
  width: 24px;
  border-radius: 5px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-bar-icon.active .menu-bar:nth-child(1) {
  transform: rotate(45deg) translateY(12px);
}
.menu-bar-icon.active .menu-bar:nth-child(2) {
  opacity: 0;
}
.menu-bar-icon.active .menu-bar:nth-child(3) {
  transform: rotate(-45deg) translateY(-12px);
}

.section {
  padding: 120px 0;
}

.container {
  max-width: var(--container-width);
}

.hero-catchphrase {
  font-weight: 300;
  color: white;
  font-size: 14px;
  font-family: "Lexend", sans-serif;
  padding: 8px;
  background-color: var(--bg-color-active);
  width: fit-content;
  border-radius: 61px;
  line-height: 24px;
}

.slider-custom-anim-left {
  opacity: 1;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-name: var(--animation-name);
  --animation-name: custom-anim-left;
  will-change: transform, opacity;
}

.custom-anim-left {
  animation: custom-anim-left 1.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0.8s
    forwards;
  opacity: 0;
}

@keyframes custom-anim-left {
  0% {
    transform: translateX(-5%);
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

.hero-heading,
.section-heading {
  font-family: "Lexend", sans-serif;
  font-size: 38px;
  font-weight: 500;
  line-height: 57px;
}

.hero-heading span {
  color: var(--primary-color);
}

.hero-sub-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: var(--text-color-gray);
}

.hero-image {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  max-width: 400px;
  max-height: 400px;
}

.section-heading {
  color: var(--primary-color);
  margin-bottom: 10px;
}

.section-sub-text {
  color: var(--text-gray);
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 580px;
  width: 100%;
}

.icon-wrapper {
  background: linear-gradient(
    180deg,
    rgba(202, 255, 51, 0.05) 0%,
    rgba(202, 255, 51, 0) 100%
  );
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
}

.icon-inner-wrapper {
  background: linear-gradient(
    180deg,
    rgba(202, 255, 51, 0.05) 0%,
    rgba(202, 255, 51, 0) 100%
  );
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.about-card-content h3 {
  font-family: "Lexend", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.about-card-content p {
  color: var(--text-gray);
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.opportunity-content {
  background-color: var(--bg-color-secondary);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.opportunity-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/Abstract_Design.png");
  background-size: auto;
  background-position: top left;
  background-repeat: no-repeat;
}

.opportunity-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px;
  background-color: var(--bg-color);
  z-index: 1;
  border-radius: 10px;
  /* max-width: 580px; */
  width: 100%;
}

.opportunity-card h3 {
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.contact-tabs {
  padding: 40px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color-secondary);
  width: 100%;
  border-radius: 10px;
}

.contact-tabs .tab {
  color: white;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  width: 100%;
  font-family: "Lexend", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  border: 1px solid var(--border-color);
  padding: 14px 18px;
  cursor: pointer;
  width: 100%;
}

.contact-tabs .active-tab {
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 40px;
  border-radius: 10px;
  background-color: var(--bg-color-secondary);
}

.contact-card h3 {
  font-family: "Lexend", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.contact-card p {
  color: var(--text-gray);
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.contact-card:hover {
  box-shadow: 0px 1px 5px #c9ff333d;
}

.faq-load-btn {
  background-color: var(--bg-color-secondary);
  border-radius: 100px;
  padding: 14px 20px;
  border: 1px solid var(--border-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.faq-content {
  max-height: 400px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  position: relative;
}

.faq-content.show {
  max-height: 2000px;
}

.faq-content::before {
  content: "";
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(25, 25, 25, 0) 0%, #191919 100%);
  transition: height 0.3s ease;
  width: 100%;
}

.show.faq-content::before {
  height: 0;
}

.faq-card {
  padding: 40px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}

.faq-question {
  font-family: "Lexend", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid var(--border-color);
}

.faq-answer {
  color: var(--text-gray);
  font-weight: 300;
  font-size: 16px;
}

.cta-wrapper {
  padding: 60px;
  background-color: var(--bg-color-secondary);
  border-radius: 20px;
  background: linear-gradient(0deg, #1c1c1c, #1c1c1c),
    linear-gradient(267.5deg, #1c1c1c 40.67%, rgba(28, 28, 28, 0) 99.81%);
  border: 1px solid var(--border-color);
  position: relative;
}

.cta-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/Abstract_Design.png");
  background-size: auto;
  background-position: top left;
  background-repeat: no-repeat;
}

.cta-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/Cta-bg.png");
  opacity: 0.3;
}

.footer {
  background-color: var(--bg-color-secondary);
  padding: 60px 80px 40px;
}

.footer-logo {
  display: flex;
  gap: 4px;
  justify-content: center;
}

.footer .menu-items {
  display: flex;
  gap: 26px;
  font-size: 14px;
  font-family: "Lexend", sans-serif;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
}

.footer .contact {
  display: flex;
  gap: 26px;
  font-size: 14px;
  font-family: "Lexend", sans-serif;
  justify-content: center;
  color: var(--text-color-gray);
  border-bottom: 1px solid var(--border-color);
}

.footer .contact div {
  display: flex;
  gap: 6px;
}

.footer .socials {
  padding: 12px 24px;
  background-color: var(--bg-color);
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: var(--text-gray);
}

.social-icon {
  padding: 12px;
  background-color: var(--primary-color);
  border-radius: 100px;
}

.back-to-top {
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 140px;
}
